
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cv__part {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border-radius: 12px;
    background-color: rgb(195, 237, 183);
    color: black;
    margin: 1%;
    padding: 5%;

    box-shadow: 3px 3px 3px grey;
    
    background: #585953; /* fallback color if gradients are not supported*/ 
background: -webkit-linear-gradient(72deg,rgba(88,89,83,0.3), #F9FFF2, #FFFFFF, #D6FFF1);
background: -moz-linear-gradient(72deg,rgba(88,89,83,0.3), #F9FFF2, #FFFFFF, #D6FFF1);
background: -o-linear-gradient(72deg,rgba(88,89,83,0.3), #F9FFF2, #FFFFFF, #D6FFF1);
background: linear-gradient(72deg,rgba(88,89,83,0.3), #F9FFF2, #FFFFFF, #D6FFF1);
}


img {
    width: 150px;
    margin: 20px;
    border-radius: 20px;
}
h2 {
    color: black;
    text-shadow: 2px 2px rgba(240, 248, 255, 0.241);
}
.ancle {
    color: #0b0089;
    text-decoration: none;
}
