.App {
  text-align: center;
  background: #ECFFED; /* fallback color if gradients are not supported*/ 
  background: -webkit-linear-gradient(89deg,rgba(236,255,237,0.6), rgba(236,255,237,0.6), rgba(208,255,205,0.5), rgba(181,255,177,0.5));
  background: -moz-linear-gradient(89deg,rgba(236,255,237,0.6), rgba(236,255,237,0.6), rgba(208,255,205,0.5), rgba(181,255,177,0.5));
  background: -o-linear-gradient(89deg,rgba(236,255,237,0.6), rgba(236,255,237,0.6), rgba(208,255,205,0.5), rgba(181,255,177,0.5));
  background: linear-gradient(89deg,rgba(236,255,237,0.6), rgba(236,255,237,0.6), rgba(208,255,205,0.5), rgba(181,255,177,0.5));
}

.buttons {

  display: flex;
  justify-content: space-around;
  margin: 15px;

}